# Backend server
PORT=3001

# InterBio (LIVE)
MOCK_KYC=false
INTERBIO_BASE_URL=https://be-webevent.app.interbio.id
INTERBIO_EMAIL=test@interbio.id
INTERBIO_PASSWORD=Test1234!

# Sepolia / Contracts
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=YOUR_PRIVATE_KEY_WITHOUT_0x
CONTRACT_ADDRESS=YOUR_DID_REGISTRY_ADDRESS
BRIDGE_ADDRESS=YOUR_BRIDGE_ADDRESS
